<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <link href="./static/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body class="bg-slate-300">
    <div class="grid grid-cols-8 grid-rows-8 gap-4">
      <div
        class="text-center bg-slate-700 p-2.5 mt-4 row-start-2 row-span-6 col-start-3 col-span-4 rounded-xl"
      >
        <h1 class="text-4xl font-bold text-orange-600">Job application form</h1>
      </div>
    </div>
  </body>
</html>
